{
  "presets": [
    [
      "babel-preset-env",
      {
        "modules": false,
        "loose": true,
        "useBuiltins": true,
        "targets": {
          "browsers": ["defaults"]
        }
      }
    ],
    "babel-preset-react"
  ],
  "plugins": ["syntax-dynamic-import"],

  "env": {
    "test": {
      "presets": [
        [
          "babel-preset-env",
          {
            "modules": "commonjs",
            "loose": true,
            "useBuiltins": true,
            "targets": {
              "node": "current"
            },
            "exclude": ["transform-regenerator"]
          }
        ],
        "babel-preset-react"
      ],
      "plugins": ["dynamic-import-node"]
    }
  }
}
