{
  "presets": [
    [
      "babel-preset-env",
      {
        "modules": false,
        "targets": {
          "browsers": ["ie 11", "last 2 versions"]
        },
        "exclude": ["transform-regenerator"]
      }
    ],
    "babel-preset-react"
  ],
  "plugins": ["syntax-dynamic-import"],

  "env": {
    "test": {
      "presets": [
        [
          "babel-preset-env",
          {
            "modules": "commonjs",
            "targets": {
              "browsers": ["last 2 versions"]
            },
            "exclude": ["transform-regenerator"]
          }
        ],
        "babel-preset-react"
      ],
      "plugins": ["syntax-dynamic-import"]
    }
  }
}
