@import '~picnic/picnic.css';

.app {
  min-height: 100vh;

  .public,
  .peer,
  .roster {
    padding: 0 2em 1em 2em;

    input {
      background-color: inherit;
      color: inherit;
    }
  }

  .public,
  .peer {
    height: 65vh;

    & .chat {
      height: ~'calc(100% - 5em)';
      overflow-y: scroll;
    }
  }

  .public {
    background-color: rgb(134, 240, 217);
    color: rgb(50, 2, 112);

    input {
      border-color: indigo;
    }
  }

  .peer {
    background-color: rgb(40, 0, 114);
    color: rgb(204, 204, 250);

    input {
      border-color: lightcyan;
    }
  }

  .roster {
    background-color: #000000;
    color: #d9d9d9;
    min-height: 35vh;
    max-height: 65vh;

    @media (max-width: 1000px) {
      max-height: 35vh;
    }

    button {
      background-color: inherit;
      color: inherit;
    }

    .list {
      height: ~'calc(100% - 6em)';
      overflow-y: scroll;
    }
  }
}

.user {
  .username {
    &::after {
      content: ' ';
    }
  }

  .hash,
  .info {
    font-weight: bold;
    opacity: 0.5;
  }
}

.chat {
  .entry {
    margin: 0.75em 0;

    .message {
      animation: fadeInOut cubic-bezier() 0.125s;
      overflow-wrap: break-word;

      &::before {
        content: ' ';
      }
    }
  }
}

.fadeInOut {
  animation: fadeInOut 1.5s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
